<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Question</title>
</head>
<body>
    <h1>Add New Question</h1>

<form action="" method="POST">
    <input type="text" name = "question" placeholder="Enter new question" ><br>
    <input type="text" name = "option1" placeholder="Enter first Option"><br>
    <input type="text" name = "option2" placeholder="Enter second Option"><br>
    <input type="text" name = "option3" placeholder="Enter third Option"><br>
    <input type="text" name = "option4" placeholder="Enter fourth Option"><br>

    <input type="number" name="answer" placeholder="Enter answer number"><br>

    <button type="submit">Register</button>
     
</form>
</body>
</html>